@import "../partials/colors";
@import "../partials/fonts";



.menu {
    background-color: $secondary;
    color: $textonprimary;
    align-items: center;


    a {
        font-size: 70px;
        margin-right: 30px;
        margin-left: 50px;
        font-family: $menuFont;
        color: $textonprimary;
        text-decoration: none;
    }
}

mat-toolbar {
    display: flex;
    justify-content: center;

    .list {
        display: flex;
        justify-items: center;

        .active-link {
            background-color: $primary;
        }
    }
}
